.footer {
    background-color: var(--dark);
    padding-top: 60px;
    padding-bottom: 60px;

    span {
    color: #ffffff;
}
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.adress__list {
    font-style: normal;
}

.address__item {
    margin-bottom: 0;
}

.address__link {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link-item,
.mail__link-item {
    margin-bottom: 9px;
}

.mail__link,
.tel__link {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus,
.mail__link:hover,
.mail__link:focus,
.tel__link:hover,
.tel__link:focus {
    color: var(--accent-color);
}

.footer-container {
    display: inline-grid;

}

.footer-container__address {
    margin-right: 70px;
}

.footer__join-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer__social-item {
    width: 44px;
    height: 44px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--accent-color);
}
}

.footer__social-icon {
    fill: currentColor;
}

.footer-subscribe {
    margin-left: auto;
    display: inline-grid;
    margin-left: 93px;
}

.footer-subscribe__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.email-form {
    display: flex;
}

.email-form__input {
    margin-right: 12px;
    padding: 15px 16px;
    min-width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.9);
    outline: transparent;
}