.filter-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filter-item {
    margin-right: 8px;

&:last-child {
    margin-right: 0;
}
}